/* line 2, ../sass/screen.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
}

/* line 9, ../sass/screen.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #333;
}

/* line 11, ../sass/screen.scss */
a {
  color: #12C;
}
/* line 13, ../sass/screen.scss */
a:visited {
  color: #61C;
}
/* line 14, ../sass/screen.scss */
a:focus {
  outline: thin dotted;
}
/* line 15, ../sass/screen.scss */
a:hover, a:active {
  color: #c00;
  outline: 0;
}

/* line 18, ../sass/screen.scss */
b, strong {
  font-weight: bold;
}

/* line 19, ../sass/screen.scss */
pre, code {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 20, ../sass/screen.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 20px;
}

/* line 21, ../sass/screen.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 23, ../sass/screen.scss */
body {
  background: #fff;
  margin: 0;
  font-size: 14px;
  line-height: 1.61;
}

/* line 29, ../sass/screen.scss */
header, footer, .container {
  max-width: 45em;
  margin: 0 auto;
}

/* line 31, ../sass/screen.scss */
header {
  padding: 0 0.5em;
  color: #C90B0B;
}
/* line 34, ../sass/screen.scss */
header p {
  font-size: 1.5em;
}
/* line 37, ../sass/screen.scss */
header span {
  font-size: 0.8em;
}

/* line 42, ../sass/screen.scss */
.header-img {
  border-radius: 40px;
  float: left;
  max-width: 70px;
  margin-right: 1em;
}

/* line 48, ../sass/screen.scss */
.hero {
  padding: 2em;
  background-color: #f8f8f8;
  font-size: 1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

/* line 56, ../sass/screen.scss */
.content {
  padding: 1em 1em;
}

/* line 59, ../sass/screen.scss */
.content-img {
  float: left;
  padding-right: 1em;
  max-width: 100px;
}

/* line 64, ../sass/screen.scss */
.conten-list {
  list-style-type: none;
  font-size: 1.1em;
}
/* line 67, ../sass/screen.scss */
.conten-list p {
  font-size: 0.9em;
}

/* line 71, ../sass/screen.scss */
footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}

/* line 75, ../sass/screen.scss */
#crp-stats {
  float: right;
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  /* line 81, ../sass/screen.scss */
  body {
    font-size: 12px;
  }

  /* line 82, ../sass/screen.scss */
  header p {
    padding-left: 4.5em;
  }
}
